/* scaffolding.css.scss
 * Basic structure
 * ------------------------------------------------------------------ */

/*---------------------------------------------------------
 Body, links, basics
------------------------------------------------------------ */
html {
	font-size: 87.5%;
}

a {
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}

body .site {
	margin-top: 0;
	margin-bottom: 0;
}
body {
	background-color: #eeeeee;
}

/*---------------------------------------------------------
	Header
------------------------------------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
.site-header {
	@include rem('padding', $vbase 0);
	hgroup {
		text-align: center;
			clear: none;
			@media screen and (min-width: 600px) {
				text-align: left;
			}

		h1,
		h2 {
			text-align: center;
			clear: none;
			@media screen and (min-width: 600px) {
				text-align: left;
			}
			a {
				color: $link-color;
				display: block;
				text-decoration: none;
				font-size: 52px;
				font-weight: 100;
				&:hover {
					color: $link-color-hover;
				}
			}
		}
		h1 {
			font-family: 'Playfair Display', serif;
			@include rem('font-size', $vbase);
			line-height: ($evbase2/24);
			@media screen and (min-width: 600px) {
				@include rem('font-size', 26px );
				line-height: ($evbase2/26);
			}
		}
		h2 {
			font-weight: normal;
			@include rem('font-size', 16px );
			line-height: ($evbase/16);
			color: $link-color;
			display: inline;

		}
		.green {
				color: $link-color-hover;
				display: inline;
				vertical-align: super;
				}
	}
}
.header-image {
	@include rem('margin-top', $vbase);
	margin: 0 auto;
	@media screen and (min-width: 600px) {
				float: right;

			}
	display: inline;
}

/*---------------------------------------------------------
	Navigation Menu
------------------------------------------------------------ */
nav.main-navigation {
	border: 0;
	margin: 0;

	ul.nav-menu {
	text-algin: center;
	@media screen and (min-width: 600px) {
	text-align: right;
	}
	border-top: 0; // $divider;
	border-bottom: $divider;
	}
	
	li a {
		color: $link-color;
		&:hover {
			color: $link-color-hover;
		}
	}

	li {
	@include rem('margin-left', 0px);
		@include rem('margin-right', 0px);
		position: relative;
		@media screen and (min-width: 600px) {
		@include rem('margin-left', 40px);
			}
		}
// Submenu

	li ul li {
	text-align: center;
	@include rem('margin-right', 0px);
		@media screen and (min-width: 600px){
	@include rem('margin-left', 0px);
	@include rem('margin-right', 40px);
	text-align: left;
		}
	}
	li ul li a:hover {
		background: #e3e3e3;
		color: $link-color-hover;
	}
	.current-menu-item > a,
	.current-menu-ancestor > a,
	.current_page_item > a,
	.current_page_ancestor > a {
		color: lighten($link-color-hover, 5);
		font-weight: bold;
	}
}
// Small menu
nav[role="navigation"].main-small-navigation {
	a {
		text-align: center;
		color: lighten($font-color, 10);
		&:hover {
			color: $link-color;
		}
	}
}

/*---------------------------------------------------------
	Banner
------------------------------------------------------------ */
section[role="banner"] {
	@include rem('margin-bottom', $vbase2);
}
/*---------------------------------------------------------
	Sidebar
------------------------------------------------------------ */
#secondary aside {
	a {
		color: lighten($font-color, 20);
		&:hover {
			color: $link-color;
		}
	}
}
/*---------------------------------------------------------
	Footer
------------------------------------------------------------ */
footer[role="contentinfo"] {
	border-top: $divider;
	a {
		color: lighten($font-color, 14);
		&:hover {
			color: $link-color;
		}
	}
	.site-info {
	 p {
	 display: inline;
	 }
	
	}
	.twist-tag {
		float: right;
		h2 {
			font-weight: normal;
			@include rem('font-size', 12px );
			line-height: ($evbase/12);
			color: $link-color;
			display: inline;

		}
		.green {
				color: $link-color-hover;
				display: inline;
				vertical-align: super;
				}
	}
}