/* scaffolding.css.scss
 * Basic structure
 * ------------------------------------------------------------------ */

/*---------------------------------------------------------
 Body, links, basics
------------------------------------------------------------ */
a {
	color: $link-color;
	&:hover {
		color: $link-color-hover;
		text-decoration: underline;
	}
}

body .site {
	margin-top: 0;
	margin-bottom: 0;
}
body {
	background-color: #eeeeee;
	font-family: $font-stack!important;
	@include rem('font-size', $fsize);
	text-rendering: optimizeLegibility;
	color: $font-color;
}

/*---------------------------------------------------------
	Header
------------------------------------------------------------ */
//@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
.site-header {
//	border-bottom: $divider;
padding: 10px 0!important;

	@include rem('padding', $vbase 0);
	hgroup {
		text-align: center;
			clear: none;
			line-height: 1;
			@media screen and (min-width: 600px) {
				text-align: left;
			}

		h1,
		h2 {
			text-align: center;
			clear: none;

			@media screen and (min-width: 600px) {
				text-align: left;
			}
			a {
				color: $link-color;
				display: block;
				text-decoration: none;
				font-size: 52px;
				font-weight: 100;
				&:hover {
					color: $link-color-hover;
				}
			}
		}
	}
}
.header-image {
	@include rem('margin-top', $vbase);
	margin: 0 auto 0 auto;
	width: 100%;
	@media screen and (min-width: 700px) {
				float: right;
				width: auto;

			}
	display: inline;
}
.header-image-box {
	display: block;
}
	.twist-tag-header {
		float: right;
		clear: both;
		display: block;
		h2 {
			text-align: center;
			margin: auto;
			font-family: futura-md;
			text-transform: uppercase;
			font-weight: normal;
			@include rem('font-size', 18px );
			line-height: ($evbase/18);
			color: $link-color-hover;
			display: inline-block;
			.green {
				color: $link-color;
				}

		}
		
	}

//article heading
.entry-header {
	margin-bottom: $vbase;
}
.logo {
	display: block;
	width: 100%;
	@media screen and (min-width: 700px){
		display: inline;
		float: left;
		width: auto;
		max-width: 50%;
	}
}

.page-title {
	color: $link-color-hover;
	@include rem('font-size', 20px);
	font-weight: bold;
}

/*---------------------------------------------------------
	Navigation Menu
------------------------------------------------------------ */
nav.main-navigation {
	border: 0;
	margin: 0;
	text-algin: center;
	@media screen and (min-width: 600px) {
	text-align: left;
	}

	ul.nav-menu {
	text-algin: center;
	@media screen and (min-width: 600px) {
	text-align: left;
	clear: none;
	width: auto;
	}
	border-top: 0; // $divider;
	border-bottom: $divider;
	}
	
	li a {
		color: $link-color;
		&:hover {
			color: $link-color-hover;
		}
	}

	li {
	@include rem('margin-left', 0px);
		@include rem('margin-right', 0px);
		position: relative;
		@media screen and (min-width: 600px) {
		@include rem('margin-right', 40px);
			}
		}
// Submenu

	li ul li {
	text-align: center;
	@include rem('margin-right', 0px);
		@media screen and (min-width: 600px){
	@include rem('margin-left', 0px);
	@include rem('margin-right', 40px);
	text-align: left;
		}
	}
	li ul li a:hover {
		background: #e3e3e3;
		color: $link-color-hover;
	}
	.current-menu-item > a,
	.current-menu-ancestor > a,
	.current_page_item > a,
	.current_page_ancestor > a {
		color: lighten($link-color-hover, 5);
		font-weight: bold;
	}
}
// Small menu
nav[role="navigation"].main-small-navigation {
	a {
		text-align: center;
		color: lighten($font-color, 10);
		&:hover {
			color: $link-color;
		}
	}
}

/*
Content
*/

#primary {
	margin-top: 14px!important;
}

/*---------------------------------------------------------
	Sidebar
------------------------------------------------------------ */
#secondary aside {
	a {
		color: lighten($font-color, 20);
		&:hover {
			color: $link-color;
		}
	}
	h3 {
		margin-bottom: 10px;
		color: $link-color-hover;
		text-transform: uppercase;
		@include rem('font-size', 20px);
	}
}
.widet-area p > a{
	font-size: 100%!important;
}
/*---------------------------------------------------------
	Footer
------------------------------------------------------------ */
footer[role="contentinfo"] {
	border-top: $divider;
	margin-bottom: 40px;
	a {
		color: lighten($font-color, 14);
		&:hover {
			color: $link-color;
		}
	}
	.site-info {
	float: right;
	 p {
	 display: inline;
	 }
	
	}
}

.twist-tag {
		float: left;
		h2 {
			font-family: futura-md;
			text-transform: uppercase;
			font-weight: normal;
			@include rem('font-size', 18px );
			line-height: ($evbase/18);
			color: $link-color-hover;
			display: inline;

		}
		.green {
				color: $link-color;
				display: inline;
				vertical-align: super;
				}
	}

