/*
 * Basic post styling
 * ----------------------------------------------------------------- */

.comments-link,
.entry-meta {
	a {
		color: lighten($font-color, 20);
		&:hover {
			color: $link-color;
		}
	}
}
.entry-content {		
	a {
		&:visited {
			color: darken($link-color, 5);
				}
		&:hover {
		color: $link-color-hover;
		}
	}
	p {
		@include rem('margin', 0 0 $vbase 0);
		line-height: $lheight;
	}

	blockquote {
	font-size: 120%;
	padding: 0;
	font-style: normal;
	
	}
}
#content article {
	@include rem('padding-bottom', 5px );
	@include rem('margin-bottom', $vbase );
	border-bottom: 1px solid #ededed; 
}

.entry-header {
	.entry-cat {
	margin-top: 20px;

	ul, li {
		clear: none;
		display: inline;
	}
	}
	.fp-entry-title {
		@include rem('font-size', 20px);
		line-height: ($evbase/15);
		font-weight: normal;
		a {
			text-decoration: none;
		}
		}
	.entry-title {
	@include rem('font-size', 20px);
	font-weight: bold;
	}
}

footer.entry-meta {
	margin-top: 10px;
		.entry-cat {

	ul, li {
		clear: none;
		display: inline;
	}
	}
}
//Widgets
.tagcloud {
	// text-align: center;
}
.widget-title {
	font-size: 100%;
}
#secondary aside {
	div > p {
		@include rem('font-size', 16px);
	}

	a {
		color: $link-color;
		&:hover {
			color: $link-color-hover;
		}
	}
}
//TWIST FINANCIAL
.twistname {
	text-transform: uppercase;
	font-weight: bold;
	color: $link-color-hover;
	.financial {
		color: $link-color;
	}
}

blockquote > p > strong {
	font-style: normal;
	color: $link-color-hover;
}

