/*
 * Basic post styling
 * ----------------------------------------------------------------- */

.comments-link,
.entry-meta {
	a {
		color: lighten($font-color, 20);
		&:hover {
			color: $link-color;
		}
	}
}
.entry-content {		
	a {
		&:visited {
			color: darken($link-color, 5);
				}
		&:hover {
		color: $link-color-hover;
		}
	}
	.c-link {
		text-align: center;
		@include rem('font-size', 16px);
		@include rem('margin-bottom', 20px );
		@include rem('margin-top', 20px );
	}
}
#content article {
	@include rem('padding-bottom', $vbase );
	@include rem('margin-bottom', 20px );
	border-bottom: 1px solid #ededed; 
}

.entry-header {
	.entry-cat {
	margin-top: 20px;
	

	ul, li {
		clear: none;
		display: inline;
	}
	}
	.fp-entry-title {
		@include rem('font-size', 16px);
		line-height: ($evbase/15);
		font-weight: normal;
		a {
			text-decoration: none;
		}
		}
}

