/* Main Stylesheet for Twist Theme */
@font-face {
  font-family: "futura-md";
  src: url(../fonts/3997.woff); }

@font-face {
  font-family: "futura-md";
  src: url(../fonts/3991.woff);
  font-weight: bold; }

.clear {
  zoom: 1; }
  .clear:before, .clear:after {
    display: table;
    content: ""; }
  .clear:after {
    clear: both; }

/* scaffolding.css.scss
 * Basic structure
 * ------------------------------------------------------------------ */
/*---------------------------------------------------------
 Body, links, basics
------------------------------------------------------------ */
a {
  color: #280064; }
  a:hover {
    color: #64780a;
    text-decoration: underline; }

body .site {
  margin-top: 0;
  margin-bottom: 0; }

body {
  background-color: #eeeeee;
  font-family: futura-md, Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-size: 1.14286rem;
  text-rendering: optimizeLegibility;
  color: #444444; }

/*---------------------------------------------------------
	Header
------------------------------------------------------------ */
.site-header {
  padding: 10px 0 !important;
  padding: 14px 0;
  padding:  1rem 0; }
  .site-header hgroup {
    text-align: center;
    clear: none;
    line-height: 1; }
    @media screen and (min-width: 600px) {
      .site-header hgroup {
        text-align: left; } }
    .site-header hgroup h1,
    .site-header hgroup h2 {
      text-align: center;
      clear: none; }
      @media screen and (min-width: 600px) {
        .site-header hgroup h1,
        .site-header hgroup h2 {
          text-align: left; } }
      .site-header hgroup h1 a,
      .site-header hgroup h2 a {
        color: #280064;
        display: block;
        text-decoration: none;
        font-size: 52px;
        font-weight: 100; }
        .site-header hgroup h1 a:hover,
        .site-header hgroup h2 a:hover {
          color: #64780a; }

.header-image {
  margin-top: 14px;
  margin-top: 1rem;
  margin: 0 auto 0 auto;
  width: 100%;
  display: inline; }
  @media screen and (min-width: 700px) {
    .header-image {
      max-width: 50%;
      float: right; } }
  @media screen and (min-width: 860px) {
    .header-image {
      float: right;
      width: auto; } }

.header-image-box {
  display: block; }

.twist-tag-header {
  float: right;
  clear: both;
  display: block; }
  .twist-tag-header h2 {
    text-align: center;
    margin: auto;
    font-family: futura-md;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    font-size: 1.28571rem;
    line-height: 1.33333;
    color: #64780a;
    display: block;
    clear: left; }
    @media screen and (min-width: 700px) {
      .twist-tag-header h2 {
        display: inline-block; } }
    .twist-tag-header h2 .green {
      color: #280064; }

.entry-header {
  margin-bottom: 14px; }

.logo {
  display: block;
  width: 100%; }
  @media screen and (min-width: 700px) {
    .logo {
      display: inline;
      float: left;
      width: auto;
      max-width: 50%; } }

.page-title {
  color: #64780a;
  font-size: 20px;
  font-size: 1.42857rem;
  font-weight: bold; }

/*---------------------------------------------------------
	Navigation Menu
------------------------------------------------------------ */
nav.main-navigation {
  border: 0;
  margin: 0;
  text-algin: center; }
  @media screen and (min-width: 600px) {
    nav.main-navigation {
      text-align: left; } }
  nav.main-navigation ul.nav-menu {
    text-algin: center;
    border-top: 0;
    border-bottom: 1px solid navy; }
    @media screen and (min-width: 600px) {
      nav.main-navigation ul.nav-menu {
        text-align: left;
        clear: none;
        width: auto; } }
  nav.main-navigation li a {
    color: #280064; }
    nav.main-navigation li a:hover {
      color: #64780a; }
  nav.main-navigation li {
    margin-left: 0px;
    margin-left: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    position: relative; }
    @media screen and (min-width: 600px) {
      nav.main-navigation li {
        margin-right: 40px;
        margin-right: 2.85714rem; } }
  nav.main-navigation li ul li {
    text-align: center;
    margin-right: 0px;
    margin-right: 0rem; }
    @media screen and (min-width: 600px) {
      nav.main-navigation li ul li {
        margin-left: 0px;
        margin-left: 0rem;
        margin-right: 40px;
        margin-right: 2.85714rem;
        text-align: left; } }
  nav.main-navigation li ul li a:hover {
    background: #e3e3e3;
    color: #64780a; }
  nav.main-navigation .current-menu-item > a,
  nav.main-navigation .current-menu-ancestor > a,
  nav.main-navigation .current_page_item > a,
  nav.main-navigation .current_page_ancestor > a {
    color: #78900c;
    font-weight: bold; }

nav[role="navigation"].main-small-navigation a {
  text-align: center;
  color: #5e5e5e; }
  nav[role="navigation"].main-small-navigation a:hover {
    color: #280064; }

.menu-toggle {
  display: block;
  padding: 4px 10px;
  padding:  0.28571rem 0.71429rem; }
  @media screen and (min-width: 600px) {
    .menu-toggle {
      display: none; } }

/*
Content
*/
#primary {
  margin-top: 14px !important; }

/*---------------------------------------------------------
	Sidebar
------------------------------------------------------------ */
#secondary aside a {
  color: #777777; }
  #secondary aside a:hover {
    color: #280064; }
#secondary aside h3 {
  margin-bottom: 10px;
  color: #64780a;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.42857rem; }

.widet-area p > a {
  font-size: 100% !important; }

/*---------------------------------------------------------
	Footer
------------------------------------------------------------ */
footer[role="contentinfo"] {
  border-top: 1px solid navy;
  margin-bottom: 40px; }
  footer[role="contentinfo"] a {
    color: #686868; }
    footer[role="contentinfo"] a:hover {
      color: #280064; }
  footer[role="contentinfo"] .site-info {
    float: right; }
    footer[role="contentinfo"] .site-info p {
      display: inline; }

.twist-tag {
  float: left; }
  .twist-tag h2 {
    font-family: futura-md;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    font-size: 1.28571rem;
    line-height: 1.33333;
    color: #64780a;
    display: inline; }
  .twist-tag .green {
    color: #280064;
    display: inline;
    vertical-align: super; }

/*
 * Basic post styling
 * ----------------------------------------------------------------- */
.comments-link a,
.entry-meta a {
  color: #777777; }
  .comments-link a:hover,
  .entry-meta a:hover {
    color: #280064; }

.entry-content a:visited {
  color: #1e004b; }
.entry-content a:hover {
  color: #64780a; }
.entry-content p {
  margin: 0 0 14px 0;
  margin:  0 0 1rem 0;
  line-height: 1.42857; }
.entry-content blockquote {
  font-size: 120%;
  padding: 0;
  font-style: normal; }

#content article {
  padding-bottom: 5px;
  padding-bottom: 0.35714rem;
  margin-bottom: 14px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ededed; }

.entry-header .entry-cat {
  margin-top: 20px; }
  .entry-header .entry-cat ul, .entry-header .entry-cat li {
    clear: none;
    display: inline; }
.entry-header .fp-entry-title {
  font-size: 20px;
  font-size: 1.42857rem;
  line-height: 1.6;
  font-weight: normal; }
  .entry-header .fp-entry-title a {
    text-decoration: none; }
.entry-header .entry-title {
  font-size: 20px;
  font-size: 1.42857rem;
  font-weight: bold; }

footer.entry-meta {
  margin-top: 10px; }
  footer.entry-meta .entry-cat ul, footer.entry-meta .entry-cat li {
    clear: none;
    display: inline; }

.widget-title {
  font-size: 100%; }

#secondary aside a {
  color: #280064; }
  #secondary aside a:hover {
    color: #64780a; }

.twistname {
  text-transform: uppercase;
  font-weight: bold;
  color: #64780a; }
  .twistname .financial {
    color: #280064; }

blockquote > p > strong {
  font-style: normal;
  color: #64780a; }
