@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
/* Main Stylesheet for Twist Theme */
.clear {
  zoom: 1; }
  .clear:before, .clear:after {
    display: table;
    content: ""; }
  .clear:after {
    clear: both; }

/* scaffolding.css.scss
 * Basic structure
 * ------------------------------------------------------------------ */
/*---------------------------------------------------------
 Body, links, basics
------------------------------------------------------------ */
html {
  /* font-size: 87.5%; */ }

a {
  color: navy;
  text-decoration: none; }
  a:hover {
    color: #34c53c;
    text-decoration: underline; }

body .site {
  margin-top: 0;
  margin-bottom: 0; }

body {
  background-color: #eeeeee; }

/*---------------------------------------------------------
	Header
------------------------------------------------------------ */
.site-header {
  padding: 14px 0;
  padding:  1rem 0; }
  .site-header hgroup {
    text-align: center;
    clear: none;
    line-height: 1; }
    @media screen and (min-width: 600px) {
      .site-header hgroup {
        text-align: left; } }
    .site-header hgroup h1,
    .site-header hgroup h2 {
      text-align: center;
      clear: none; }
      @media screen and (min-width: 600px) {
        .site-header hgroup h1,
        .site-header hgroup h2 {
          text-align: left; } }
      .site-header hgroup h1 a,
      .site-header hgroup h2 a {
        color: navy;
        display: block;
        text-decoration: none;
        font-size: 52px;
        font-weight: 100; }
        .site-header hgroup h1 a:hover,
        .site-header hgroup h2 a:hover {
          color: #34c53c; }
    .site-header hgroup h1 {
      font-family: 'Playfair Display', serif;
      font-size: 14px;
      font-size: 1rem;
      line-height: 1; }
      @media screen and (min-width: 600px) {
        .site-header hgroup h1 {
          font-size: 26px;
          font-size: 1.85714rem;
          line-height: 1.84615; } }
    .site-header hgroup h2 {
      font-weight: normal;
      font-size: 16px;
      font-size: 1.14286rem;
      line-height: 1.5;
      color: navy;
      display: inline; }
    .site-header hgroup .green {
      color: #34c53c;
      display: inline;
      vertical-align: super; }

.header-image {
  margin-top: 14px;
  margin-top: 1rem;
  margin: 0 auto 0 auto;
  width: 100%;
  display: inline; }
  @media screen and (min-width: 700px) {
    .header-image {
      float: right;
      width: auto; } }

.entry-header {
  margin-bottom: 14px; }

/*---------------------------------------------------------
	Navigation Menu
------------------------------------------------------------ */
nav.main-navigation {
  border: 0;
  margin: 0;
  text-algin: center; }
  @media screen and (min-width: 600px) {
    nav.main-navigation {
      text-align: left; } }
  nav.main-navigation ul.nav-menu {
    text-algin: center;
    border-top: 0;
    border-bottom: 1px solid navy; }
    @media screen and (min-width: 600px) {
      nav.main-navigation ul.nav-menu {
        text-align: left;
        clear: none;
        width: auto; } }
  nav.main-navigation li a {
    color: navy; }
    nav.main-navigation li a:hover {
      color: #34c53c; }
  nav.main-navigation li {
    margin-left: 0px;
    margin-left: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    position: relative; }
    @media screen and (min-width: 600px) {
      nav.main-navigation li {
        margin-right: 40px;
        margin-right: 2.85714rem; } }
  nav.main-navigation li ul li {
    text-align: center;
    margin-right: 0px;
    margin-right: 0rem; }
    @media screen and (min-width: 600px) {
      nav.main-navigation li ul li {
        margin-left: 0px;
        margin-left: 0rem;
        margin-right: 40px;
        margin-right: 2.85714rem;
        text-align: left; } }
  nav.main-navigation li ul li a:hover {
    background: #e3e3e3;
    color: #34c53c; }
  nav.main-navigation .current-menu-item > a,
  nav.main-navigation .current-menu-ancestor > a,
  nav.main-navigation .current_page_item > a,
  nav.main-navigation .current_page_ancestor > a {
    color: #45ce4c;
    font-weight: bold; }

nav[role="navigation"].main-small-navigation a {
  text-align: center;
  color: #5e5e5e; }
  nav[role="navigation"].main-small-navigation a:hover {
    color: navy; }

/*---------------------------------------------------------
	Banner
------------------------------------------------------------ */
section[role="banner"] {
  margin-bottom: 28px;
  margin-bottom: 2rem; }

/*---------------------------------------------------------
	Sidebar
------------------------------------------------------------ */
#secondary aside a {
  color: #777777; }
  #secondary aside a:hover {
    color: navy; }

/*---------------------------------------------------------
	Footer
------------------------------------------------------------ */
footer[role="contentinfo"] {
  border-top: 1px solid navy;
  margin-bottom: 40px; }
  footer[role="contentinfo"] a {
    color: #686868; }
    footer[role="contentinfo"] a:hover {
      color: navy; }
  footer[role="contentinfo"] .site-info {
    float: right; }
    footer[role="contentinfo"] .site-info p {
      display: inline; }
  footer[role="contentinfo"] .twist-tag {
    float: left; }
    footer[role="contentinfo"] .twist-tag h2 {
      font-weight: normal;
      font-size: 18px;
      font-size: 1.28571rem;
      line-height: 1.33333;
      color: navy;
      display: inline; }
    footer[role="contentinfo"] .twist-tag .green {
      color: #34c53c;
      display: inline;
      vertical-align: super; }

/*
 * Basic post styling
 * ----------------------------------------------------------------- */
.comments-link a,
.entry-meta a {
  color: #777777; }
  .comments-link a:hover,
  .entry-meta a:hover {
    color: navy; }

.entry-content a:visited {
  color: #000067; }
.entry-content a:hover {
  color: #34c53c; }
.entry-content p {
  margin: 0 0 14px 0;
  margin:  0 0 1rem 0;
  line-height: 1.71429; }
.entry-content .c-link {
  text-align: center;
  font-size: 16px;
  font-size: 1.14286rem;
  margin-bottom: 20px;
  margin-bottom: 1.42857rem;
  margin-top: 20px;
  margin-top: 1.42857rem; }
.entry-content blockquote {
  font-size: 120%;
  padding: 0; }

#content article {
  padding-bottom: 5px;
  padding-bottom: 0.35714rem;
  margin-bottom: 14px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ededed; }

.entry-header .entry-cat {
  margin-top: 20px; }
  .entry-header .entry-cat ul, .entry-header .entry-cat li {
    clear: none;
    display: inline; }
.entry-header .fp-entry-title {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 1.6;
  font-weight: normal; }
  .entry-header .fp-entry-title a {
    text-decoration: none; }
.entry-header .entry-title {
  font-size: 16px;
  font-size: 1.14286rem; }

.tagcloud {
  text-align: center; }
